main {
  box-shadow: var(--box-shadow);
  width: 80%;
  margin: 50px auto;
  padding: 15px;
}
header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}
